.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
}
